body{

background-color:#000;
}

.container{

width:90%;
margin-top:10%;
font-weight: bold;
padding: 20px;
background-color:#98BBF5;
margin: auto;

}

h3{
margin-top:35px;
}

@media screen and (min-width:700px){
#block{
	margin-right: 40px;
}

.container{

width:60%;

}

}

h1,h3{
text-align: center;
margin-bottom:30px;
margin-top:30px;
}


.split{
display:grid;
grid-template-columns: 1fr 1fr;

}

#text1,#text2,#text3,#text4{
padding-right:80px;
margin-left: 10px;
background-color: #7DA4E3;
}